html body {
  margin: 0;
  padding: 0;
}

table, td {
  padding: 10px 40px 10px 0px;
  font-size: 1.5em;
  border-spacing: 0px;
  margin-top: 5%;
  margin-left: 1em;
}

#container {
  background-image: url("IMG/seattle.jpg");
  opacity: 0.7;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}

body {
  font-family: Impact, cursive, sans-serif;
}

table {
  margin-left: 2em;
}

th, td {
  border: 1px solid black;
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: rgb(230, 248, 255)
}


/*Make top row have darker thicker border*/

th {
  border-bottom: 7px solid black;
  border-top: 7px solid black;
}


/*Head text "Pats salmon cookies"*/

h1 {
  text-align: center;
  font-size: 400%;
  margin-left: 17%;
}


/*Border around outter form */

fieldset {
  border: 10px black solid;
  float: right;
}


/*Boxes where you put stuff in the form*/

form input {
  margin-right: 2em;
  width: 10em;
  background-color: rgb(230, 248, 255);
  font-family: Impact, cursive, sans-serif;
  font-size: 20px;
}


/*Overall form centering*/

form {
  text-align: center;
  margin-right: 2em;
}


/*Words before the input boxes*/

label {
  font-size: 20px;
}


/*Words that sit in the fieldset*/

legend {
  text-align: left;
  font-size: 30px;
}


/*button animation*/

button {
  background: #8eccf5;
  background-image: -webkit-linear-gradient(top, #8eccf5, #2980b9);
  background-image: -moz-linear-gradient(top, #8eccf5, #2980b9);
  background-image: -ms-linear-gradient(top, #8eccf5, #2980b9);
  background-image: -o-linear-gradient(top, #8eccf5, #2980b9);
  background-image: linear-gradient(to bottom, #8eccf5, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ebebeb;
  font-size: 20px;
  padding: 15px 10px 15px 10px;
  text-decoration: none;
  margin-top: 10px;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#fishpic {
  float: right;
  height: 2em;
  width: 6em;
  z-index: -1;
}
