/****todo make nav icons*/
* {
     /*border: solid 1px black;*/
     font-family: 'Roboto', sans-serif;
   }

   html {
     margin: 0;
     padding: 0;
   }

   #bodyImage {
     background-image: url("IMG/seattle.jpg");
     width: 100%;
     height: 100%;
     position: absolute;
   }

   body {
     /*background-color: rgba(0, 186, 255, 0.38);*/
     background-image: url("family2.png")
   }


   nav {
     display: block;
     max-width: 640px;
     text-decoration: none;
   }

   nav ul li{
     text-decoration: none;
     display: inline-block;
   }

   nav ul li img{
     display: inline-block;
     padding-right: 20px;
     padding-left: 20px;
     max-width: 100px;
     max-height: 60px;
   }


   #headerContainer {
     /*background-image: url("IMG/cutter.jpeg");*/
     height: 20em;
     opacity: 0.9;
   }

   #header1 {
     text-shadow: 2px 4px rgb(185, 244, 242);
     display: block;
     font-size: 120px;
     font-weight: 600;
   }

   #header2 {
     display: block;
     font-size: 60px;
     margin-top: 30px;
   }

   header {
     margin-top: 50px;
     text-align: center;
     max-width: 100%;

   }

   #mainContainer {
     margin: auto;
   }

   #h1container h1{
     text-align: center;
     /*background-color: green;*/
     font-size: 60px;
     margin-top: -60px;
   }

   #textContainer1 {
     width: 30em;
     font-size: 20px;
     /*background-color: salmon;*/
     position: inherit;
     margin-left: 40px;
     display: inline;
   }

   #textContainer1 p {
     max-width: 30em;
     margin-left: 20px;
     text-shadow: 1px 2px rgb(185, 244, 242);
   }

   #picturesRight {
     position: relative;
     background-image: url("IMG/family2.png");
     background-repeat: no-repeat;
     float: right;
     margin-top: 30em;
     margin-right: 40px;
     max-width: 720px;
     width: 720px;
     max-height: 1080px;
     height: 480px;
     display: grid;
   }

   #picturesRight img {
     max-width: 400px;
     max-height: 50px;
   }
   #salmonHeader {
     position: absolute;
  margin-top: -41em;
  margin-left: 67em;
  /*transform: rotate(-90deg);*/
  margin-bottom: 100px;
  overflow: hidden;
  max-width: 400px;
}
#familyBackground {
  background-image: url("IMG/family2.png");
  background-position: center;
  position: absolute;
  margin-left: 65%;
  margin-top: -17em;
  max-height: 480px;
}

#familyBackground p {
  text-shadow: 1px 2px rgb(185, 244, 242);
}
