table, td {
  padding: 10px 40px 10px 0px;
  font-size: 1.5em;
  border-spacing: 0px;
  background-color: pink:
}

body {
  font-family: Impact, cursive, sans-serif;
  background-color: rgb(204, 241, 255, 0.5);
  background-image: url("IMG/seattle.jpg");
  background-blend-mode: lighten;
  /*border: 1px solid black;*/
}

th, td {
  border: 1px solid black;
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: rgb(230, 248, 255)
}

th {
  border-bottom: 7px solid black;
  border-top: 7px solid black;
}

h1 {
  text-align: center;
  font-size: 175%;
}
