* {
  /*border: solid 1px black;*/
  font-family: 'Roboto', sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

#bodyImage {
  background-image: url("IMG/seattle.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
}

body {
  /*background-color: rgba(0, 186, 255, 0.38);*/
}

#salmoncontainer {
  transform: rotate(-30deg);
  position: absolute;
  margin-left: ;
  margin-top: 5%;
  opacity: 0.70;
  z-index: 1;
  /*border: solid 1px black;*/
}

#salmoncontainer2 {
  transform: rotate(30deg);
  position: absolute;
  margin-left: 58%;
  margin-top: 9%;
  opacity: 0.70;
  z-index: 1;
  /*border: solid 1px black;*/
}

nav {
  display: block;
}

nav ul {}

nav ul li {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}

#headerContainer {
  /*background-image: url("IMG/cutter.jpeg");*/
  height: 20em;
  opacity: 0.9;
}

#header1 {
  text-transform: capitalize;
  text-shadow: 2px 4px rgb(185, 244, 242);
  display: block;
  font-size: 120px;
  text-transform: full-width;
  z-index: 1;
}

#header2 {
  display: block;
  font-size: 60px;
  margin-top: 30px;
}

header {
  margin-top: 50px;
  text-align: center;
  max-width: 100%;
  z-index: 2;
}

#mainContainer {
  /*background-color: pink;*/
  margin: auto;
}

#h1container h1 {
  /*background-color: green;*/
  font-size: 60px;
  margin-left: 20px;
}

#textContainer1 {
  width: 30em;
  font-size: 20px;
  /*background-color: salmon;*/
  position: inherit;
  margin-left: 40px;
}


/*#textContainer2 {
  position: inherit;
  width: 30em;
  background-color: gray;
  margin-left: 50em;
}*/
