table, td {
  padding: 20px;
  font-size: 30px;
  border-spacing: 0px;
  background-color: pink:
}

body {
  font-family: Impact, cursive, sans-serif;
  background-color: rgb(204, 241, 255)
}

th, td {
  border: 1px solid black;
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: rgb(230, 248, 255)
}

th {
  border-bottom: 7px solid black;
  border-top: 7px solid black;
}
